/**
 * Add all your custom CSS here, we added a few to get you started.
 */

/******************************************************************
  Collection
******************************************************************/

.wrapper {
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  width: 100%;
}

.collection-container {
  height: 100%;
  position: absolute;
  width: 90%;
  overflow: scroll;
}

.collection-left {
  background: #F7F5F5;

  .container-content {
    height: 5000px;
  }
}

.collection-image {
  background: black;
  height: 600px;
  width: 100%;
  margin: 0 50px 100px;
}

.container-content {
  padding: 50px;
}

.collection-right {
  left: 90%;
  .container-content {
    height: 2000px;
  }
}

.collection-product {
  background: black;
  height: 300px;
  width: 100%;
  margin: 0 50px 50px;
}
